
/*styles for global.html*/
#intro {
	margin-top: 100px;
}

section {
	text-align: center;
	font-size: 25px;
	margin-left: 100px;
	margin-right: 100px;
}

.introimg{
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	width: 800px;
	text-align: center;
	position: top;
	display: block;
}

#title {
	font-size:35px;
	text-align: center;
	color: #037ef3;
}

.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#number {
	background-color: #037ef3;
	width: 100% !important;
	height: 150px;
	color: #ffffff;
	font-size: 35px;
	margin: 0px !important;
	padding: 0px !important;
}

#country, #university, #members {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.description {
	font-size: 18px;
	text-align: center;
}

#map {
	text-align: center;
	background-color: 
}

.allFloating {
	margin-top: 0px;
	float: left;
	text-align: center;
}

.numicon {
	width: 70px;
	height: 50px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto; 
}

@media screen and (max-width: 992px) {
	#number {
		height: 150px;
		text-align: center;
	}
}





/*styles for apply.html*/

p {
	font-size: 18px;
}

#steps {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#stepTitle {
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
}

.stepTitle {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

#rsvp {
	background-color: orange;
}

.slider {
	list-style-type: none;
}

.applyli {
	background-color: #ffffff;
	text-align: center;
	width: 80%;
	position: absolute;
	margin: 0 auto;
}










